/* Cambiar el tamaño del scroll */
::-webkit-scrollbar {
    width: 2px; /* Ancho del scroll */
    height: 2px; /* Altura del scroll */
}

/* Cambiar el color del track (fondo del scroll) */
::-webkit-scrollbar-track {
    background: #f1f1f100; /* Color del track */
}

/* Cambiar el color y la forma del thumb (la parte deslizable del scroll) */
::-webkit-scrollbar-thumb {
    background: #1eff00; /* Color del thumb */
    border-radius: 5px; /* Bordes redondeados */
}

/* Cambiar el color y la forma del thumb al pasar el ratón sobre él */
::-webkit-scrollbar-thumb:hover {
    background: #ff0000; /* Color del thumb al pasar el ratón */
}


*{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    font-family: 'system-ui';
    height: 1000px;
    color: black;
}

header {
    background-color: rgb(44, 44, 44);
    color: white;
}

#browser {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: groove;
    z-index: 999; /* Valor alto de z-index */
}


#logo {
    width: 70px; /* Tamaño del logo */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 20px; /* Espacio entre el logo y las opciones */
    background-color: transparent;
    transition: scale .3s ease;
    cursor: pointer;
}

#logo:hover{
    transition: scale .3s ease;
    scale: 1.2;
}

.options {
    display: flex;
}

.options a {
    margin-right: 20px; /* Espacio entre las opciones */
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    position: relative; /* Establece la posición relativa para el enlace */
    overflow: hidden; /* Oculta el subrayado que se extenderá más allá del enlace */
}

.options a::before {
    content: ""; /* Agrega un contenido vacío al pseudo-elemento */
    position: absolute;
    bottom: 0; /* Coloca el pseudo-elemento en la parte inferior del enlace */
    left: 0; /* Comienza desde el borde izquierdo del enlace */
    width: 0; /* Inicialmente, el ancho es 0 para que no sea visible */
    height: 2px; /* Altura del subrayado */
    background-color: rgb(255, 0, 0); /* Color del subrayado */
    transition: width 0.3s ease-in-out; /* Transición para animar el ancho */
}

.options a:hover::before {
    width: 100%; /* Aumenta el ancho del subrayado al pasar el mouse */
}


.start-conteiner {
    display: flex; /* Utilizar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Ancho completo */
    height: 100vh; /* Altura igual al 100% de la ventana */
}


.parallax-completo {
    top: 60px;
    width: 100%; 
    height: 550px;
    position: absolute;
    background-image: linear-gradient(0deg, rgba(159,4,4,0.33237044817927175) 0%, rgba(5,161,3,0.2819502801120448) 100%), url('/assets/img/idi2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.parallax-chico{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.21752450980392157) 100%, rgba(255,255,255,0) 100%), url('/assets/img/as.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente los elementos */
    justify-content: center; /* Centrar verticalmente los elementos */
    position: relative;
    top: 300px; 
    z-index: 3;
    background-color: transparent;
}

#title, #subtitle {
    font-family: fantasy;
    font-size: 100px;
    background-color: transparent;
    text-align: center; /* Alinear texto al centro */
    color: black; /* Color del texto */
    text-shadow: 
        -4px -4px 0 white, /* Sombra superior izquierda */
        4px -4px 0 white, /* Sombra superior derecha */
        -4px 4px 0 white, /* Sombra inferior izquierda */
        4px 4px 0 white; /* Sombra inferior derecha */
}

#subtitle{
    font-size: 3rem;
    font-family: 'system-ui';
}

.title-container hr{
    height: 3px;
    width: 100%;
    background-color: #ed5251;
}


.us-container {
    position: relative;
    top:100px;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
<<<<<<< HEAD
=======
.presentation{
    margin: -40px 60px 100px 60px;
    display: flex;
    /* border: 2px solid red; */
    gap: 80px;
}
#presentation-img img{
    width: 900px;
    border-radius: 20px;
    flex: 2;
}
#presentation-text p{
    flex: 2;
    padding: 10px;
    font-size: 1.3rem;
}

#presentation-text h2{
    font-size: 3.2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #ed5251;
}

#btn-especialidades{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}
.btn-especialidad{
    border: 1px solid #ed5251;
    border-radius: 3px;
    color: #ed5251;
    padding: 20px;
    transition: all .2s ease;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}
.btn-especialidad:hover{
    scale: 1.2;
    transition: all .2s ease;
    border: 1px solid #ed5251;
    background-color: #ed5251;
    color: white;
    font-weight: 400;
}

.objective{
    margin-bottom: 100px;
    margin-left: 50vw;
>>>>>>> 3dff1941ed2166100d55516bd260c715160fd65e

.presentation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.text-presentation {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.text-presentation p {
    padding: 10px;
    font-size: 1.3rem;
}

.text-presentation h2 {
    font-size: 3.2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #ed5251;
}

.image-presentation {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-presentation img {
    width: 90%;
    height: 75%;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.buttons-presentation {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-presentation {
    border: 1px solid #ed5251;
    border-radius: 3px;
    color: #ed5251;
    width: 20%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    transition: all .2s ease;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.button-presentation:hover {
    transform: scale(1.1);
    background-color: #ed5251;
    color: white;
    font-weight: 400;
}

.objective {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.obj-left,
.obj-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.obj-middle {
    flex: 2;
}

.obj-text{
    padding: 20px;
}
.obj-text h2 {
    font-size: 3rem;
    color: green;
}

.obj-left img,
.obj-right img {
    width: 100px; 
    height: auto;
    margin-bottom: 10px;
}


.location {
    margin-top: 100px;
    margin-bottom: 100px;
}

p {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
    background-color: transparent;
}

.google-maps {
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.google-maps iframe {
    border-style: groove;
    width: 60%;
    height: 300px;
}
<<<<<<< HEAD


=======
  
footer{
    background: #000;
}
>>>>>>> 3dff1941ed2166100d55516bd260c715160fd65e


@media (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
    #logo {
        width: 50px; /* Reducir el tamaño del logo en pantallas más pequeñas */
    }

    #imagen-de-inicio{
        height: 300px;
    }

    .options {
        display: flex; /* Ocultar opciones en pantallas pequeñas */
    }

    .presentation {
        flex-direction: column;
    }

    .text-presentation,
    .image-presentation {
        flex-basis: 100%;
    }

    .image-presentation img {
        display: none;
    }

}

@media (max-height: 1080px) and (max-width: 1920px){
    .title-container {
        top: 360px;
    }
    .parallax-completo {
        height: 750px;
        
    }
}


